@charset "UTF-8";
/* CSS Document */
/* This is how you make a comment in css*/

* {
	margin: 0;
	padding: 0;
}

html {
	background-color:#c9c3b9;
}

body {
	font-family: BlairMdITC TT Medium,AgencyFB Reg, Myriad Pro, sans-serif;
	border: solid heavy #FFF;
	background-color:#FFF;
	width: 860px;
	margin: 20px auto;
	padding-bottom: 15px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
   box-shadow: 10px 10px 10px  #888888;
}

h1 {
	font-family: Myriad Pro, Georgia, sans-serif;
	font-weight:normal;
	text-align:center;
	padding: 15px 0px 12px 15px;
	font-size: 3em;
	background-color:#0099FF;
	color: #FFF;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
}

p{
	font-size: 0.9em;
	color:#000099;
	padding: 10px 25px 10px;
}

li {
	font-size: 0.9em;
	color:#000099;
	padding: 0 25px 10px;
	list-style:none;
}

img {
	padding: 20px 25px 0 70px;
		
}

a {
	text-decoration: none;
	color: blue;
	text-align:center;
}

.center{
    margin: auto;
    width: 50%;
     padding: 10px;
    text-align: center;
} 

.button {
  display: inline-block;
  border-radius: 5px;
  background-color: #0099FF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: Myriad Pro, Georgia, sans-serif;
  font-size: 15px;
 padding: 8px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #0099FF ;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; 
	text-align:center;
}
 
#nav li {
	float: left; }
 
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
 
#nav li a:hover {
	color: grey;
	background-color: #fff; }
 