<p>Here are the latest Classes:</p>
<div class="col_4">
    {{#each Classes}}
    <h4>{{<title}}</h4>
    <p>{{description}}</p>>
    <a class="button" href="/classes/{{_id}}/details">View Class</a>
 </div>
 {{/each}}
