<h2>Classes</h2>
{{#each classes}}
	<div class="block">
		<h5>{{title}}</h5>
		<p>
			{{body}}
		</p>
		<p>Instructor: <strong>{{instructor}}</strong></p>
		<a class="button" href="/classes/{{_id}}/details">Class Details</a>
	</div>
{{/each}}