<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shopping Page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepageStyle.css">
</head>

    
<body>

    <nav class="navbar navbar-expand-md navbar-light navColor fixed-top">
        <a class="navbar-brand" href="../index.html"><img class="logo" src="/ocean.png" alt="Ocean Picture"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Shopping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/viewCart.ejs">Shopping Cart</a>
                </li>
            </ul>
               <button class="btn btn-outline-success my-2 my-sm-0" id="cartButton" type="button" onclick="location.href='/viewCart.ejs'"><img src="/box.svg" alt="Shopping Cart"><div id="cartNum">0</div></button>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="starter-template">
            <h1>Pick A Widget!</h1>
            <p>There are many like them but this one could be yours!<br></p>
        </div>
        <div class="table-responsive">
            <table class="table" id="itemTable">
            </table>
        </div>

    </main>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script>
        function updateCart(id, quantity) {
            console.log("ID: " + id + " Quantity: " + quantity);
            document.getElementById("cartNum").innerHTML = Number(document.getElementById("cartNum").innerHTML) + Number(quantity);
        }
        
    $(document).ready(function () {
        loadItems();
            function loadItems() {
                $.ajax({
					url: "/shop/items",
					type: "GET",
					dataType: "json",
					success: function (data) {
						var items = data;
                        console.log(items);
                        $("#itemTable").append("<tr>");
                        var newRowCheck = 0;
						$.each(items.data, function (i, item) {
                            if (newRowCheck % 3 == 0){
                                $("#itemTable").append("</tr><tr>");
                            }
							console.log(item);
							$("#itemTable").append("<td>" + "<img src=\"/wid" + (newRowCheck + 1) + ".png\" alt=\"Shopping Cart\" height=\"120\" width=\"120\"></br>" +"Name: " + item.name + "<br/> Cost: " + item.cost + "<br/> Description: " + item.description +
                            "</br><button type=\"button\" class=\"btn btn-primary\" onclick=\"updateCart(" + (newRowCheck + 1) + ", " + 1
                            + ")\">Add to Cart</button></td>");
                            newRowCheck++;
						});
                        $("#itemTable").append("</tr>");
					}
				});
            }
        
			$("#itemButton").click(function () {
//				var searchItem = document.getElementById("searchText").value;
				$.ajax({
					url: "/shop/items",
					type: "GET",
					dataType: "json",
					success: function (data) {
						var items = data;
                        console.log(items);
//						$.each(data.name, function (i, movie) {
//							
//							console.log(movie.Title);
//							$("#results").append("<ul><li>Title: " + movie.Title + "</li></ul>");
//				
//						});
					}
				});
			});
                
                
                
   });
    </script>

</body>
</html>
