<h3>Welcome To eLearn</h3>
	<p>
	eLearn is a simple online learning platform. Instructors can create courses and lessons.
	 Students can subscribe to courses which include assignments, quizes and support forums.
	</p>
	<a class="button" href="/users/register">Sign Up Free</a>
	<P>You need to signup to register for free classes</p>
