<h1>Welcome to eLearn</h1>
<hr>
<p>eLearn is your personal online learning platform. Your instructors will create lectures and quizzes for you.
    Students can sign up for classes to follow the courses they want.
</p>
<a class="button" href="/users/signUp">Sign Up Free</a>
<p>You need to sign up to register for a class</p>